<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.movielike_mapper">

	<insert id="movieLikeOn"  parameterType="hashmap">
		INSERT INTO movielike values((SELECT NVL(MAX(molno)+1,
		1) FROM movielike), #{id}, #{mno})
	</insert>
	<delete id="movieLikeOff" parameterType="hashmap">
		DELETE FROM movielike WHERE mno=#{mno} AND id=#{id}
	</delete>
	<update id="movieLikeCountIncrement" parameterType="hashmap">
		UPDATE movie SET likecount=likecount+1 WHERE mno=#{mno}
	</update>
	<update id="movieLikeCountDecrement" parameterType="hashmap">
		UPDATE movie SET likecount=likecount-1 WHERE mno=#{mno}
	</update>
	<select id="movieLikeCount" parameterType="hashmap" resultType="int">
		SELECT likecount FROM movie WHERE mno=#{mno}
	</select>
</mapper>